* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  color: rgb(85, 85, 85);
}

.main {
  padding: 10px 30px;
  border-bottom: 1px solid rgb(175, 175, 175);
}

.top {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  /* padding-bottom: 0px; */
}

.logo {
  font-size: 22px;
  position: relative;
}

.logo .iconify {
  font-size: 40px;
}

.logo > a {
  color: rgb(85, 85, 85);
  text-decoration: none;
  position: absolute;
  top: 10px;
  padding-left: 5px;
}

#search {
  position: relative;
  width: 100%;
}

#search > input {
  background-color: rgba(209, 202, 202, 0.192);
  border-radius: 5px;
  width: 90%;
  height: 95%;
  border-style: none;
}

#search > input::placeholder {
  padding-left: 40px;
  letter-spacing: 0.1em;
}

.search {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 25px;
  font-weight: 700;
}

.horizontal {
  position: absolute;
  right: 90px;
  top: 10px;
  font-size: 25px;
  font-weight: 700;
}

 .icons {
  font-size: 25px;
  padding-top: 10px;
  margin-left: 10px;
}

.one {
  padding-left: 10px;
  padding-right: 10px;
}

.one > .iconify {
  padding-left: 10px;
  padding-right: 10px;
}

.two {
  padding-left: 10px;
  padding-right: 10px;
}

.two > .iconify {
  padding-left: 10px;
  padding-right: 10px;
} 

/* MAIN */

#grid {
  display: grid;
  grid-template-columns: 20% 75% 5%;
}

/* ASIDE */
aside {
  padding-left: 10px;
  width: 90%;
}
 
p {
  font-size: 20px;
}

.details p {
  margin-bottom: 10px;
}

p > a {
  text-decoration: none;
  color: rgb(85, 85, 85);
  padding-left: 10px;
}

.new {
  width: 100px;
  padding: 10px 10px;
  margin: 20px 20px;
  border-radius: 30px;
  border: 1px solid rgb(85, 85, 85);
}

/*.down {
  padding-left: 20px;
}

/.aside {
  width: 20%;
}

.storage {
  padding-left: 15px;
}

.storage p {
  padding-top: 10px;
}

.storage p > .iconify {
  font-size: 25px;
}

.blue {
  background-color: blue;
  height: 1vh;
  width: 30px;
}
.grey {
  background-color: rgb(85, 85, 85);
  height: 1vh;
  width: 120px;
  margin-top: 10px;
}

.gig {
  font-size: 12px;
  color: rgb(85, 85, 85);
}

aside button {
  padding: 10px 30px;
  margin: 10px 5px;
  border-radius: 10px;
  border-style: none;
  color: blue;
  background-color: white;
  border: 1px solid rgb(85, 85, 85);
} */
