* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  font-family: "Roboto", sans-serif;
  color: rgb(85, 85, 85);
}
.main {
  padding: 10px 30px;
}
.top {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  padding-bottom: 10px;
}

.logo {
  font-size: 22px;
  position: relative;
}
.logo .iconify {
  font-size: 40px;
}
.logo > a {
  color: rgb(85, 85, 85);
  text-decoration: none;
  position: absolute;
  top: 10px;
  padding-left: 5px;
}
#search {
  position: relative;
  width: 100%;
}
#search > input {
  background-color: rgba(209, 202, 202, 0.192);
  border-radius: 5px;
  width: 90%;
  height: 95%;
  border-style: none;
}
#search > input::placeholder {
  padding-left: 40px;
  letter-spacing: 0.1em;
}
.search {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 25px;
  font-weight: 700;
}
.horizontal {
  position: absolute;
  right: 90px;
  top: 10px;
  font-size: 25px;
  font-weight: 700;
}

.icons {
  font-size: 25px;
  padding-top: 10px;
  margin-left: 10px;
}

.one {
  padding-left: 20px;
  padding-right: 10px;
}

.one > .iconify {
  padding-left: 10px;
  padding-right: 10px;
}

.two {
  padding-left: 10px;
  padding-right: 10px;
}

.two > .iconify {
  padding-left: 10px;
  padding-right: 10px;
}

/* ASIDE */
aside{
padding-left: 10px;
}

p > a{
  text-decoration: none;
  color: rgb(85, 85, 85);
  padding-left: 10px;
  padding-top: ;
}

.new{
  width: 100px;
  padding: 12px 10px;
  margin: 20px 20px;
  border-radius: 30px;
  border: 1px solid rgb(85, 85, 85);
}

.down{
  padding-left: 20px;
}
